#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.northcoders-logo {
  height: 10vh /* or you can use the same height as the nav style */;
  width: auto; /* That will keep the image proportions correct; */
  float: left;
  padding-left: 2%;
  margin: 0 auto; /* <== not sure what you are doing here. Try deleting it as it won't help. */
  padding: 10px 0;
}
