#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.northcoders-logo {
  height: 10vh /* or you can use the same height as the nav style */;
  width: auto; /* That will keep the image proportions correct; */
  float: left;
  padding-left: 2%;
  margin: 0 auto; /* <== not sure what you are doing here. Try deleting it as it won't help. */
  padding: 10px 0;
}

.article-card {
  padding: 5%;
  border: blanchedalmond solid 5px;
}

.article-title {
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.author {
  text-align: left;
}

.article-card {
  text-align: left;
}

.article-page {
  margin-top: 5rem;
  margin-bottom: auto;
}

.article-list {
  margin-top: 5rem;
  margin-bottom: auto;
}

.comments {
  text-align: left;
  display: inline;
  margin-right: 50%;
}

.says {
  font-weight: lighter;
}

p.avatar {
  float: left;
  width: 100px;
}

.post {
  overflow: hidden;
  text-align: left;
}

.post-text {
  overflow: hidden;
}

.comment-img {
  border: 1px solid #ddd;
  border-radius: 60px;
  padding: 20px;
  width: 80px;
}

.date-votes {
  display: inline;
  padding-right: 10px;
}

textarea {
  width: 50vw;
  height: 120px;
  padding: 12px 40px;
  box-sizing: border-box;
  border: 2px solid blanchedalmond;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: black;
}

.comment-list {
  margin-top: 5%;
  border: blanchedalmond solid 5px;
  padding: 5%;
}

.post-btn {
  margin-left: 25px;
}

.label-post {
  margin-right: 25px;
}

.success {
  color: green;
}
